.mtxs {
  margin-top: 3px !important; }

.mts {
  margin-top: 12px !important; }

.mtm {
  margin-top: 24px !important; }

.mtl {
  margin-top: 36px !important; }

.mtxl {
  margin-top: 48px !important; }

.mtn {
  margin-top: 0 !important; }

.mrxs {
  margin-right: 3px !important; }

.mrs {
  margin-right: 12px !important; }

.mrm {
  margin-right: 24px !important; }

.mrl {
  margin-right: 36px !important; }

.mrn {
  margin-right: 0 !important; }

.mbxs {
  margin-bottom: 3px !important; }

.mbs {
  margin-bottom: 12px !important; }

.mbm {
  margin-bottom: 24px !important; }

.mbl {
  margin-bottom: 36px !important; }

.mbxl {
  margin-bottom: 48px !important; }

.mbn {
  margin-bottom: 0 !important; }

.mlxs {
  margin-left: 3px !important; }

.mls {
  margin-left: 12px !important; }

.mlm {
  margin-left: 24px !important; }

.mll {
  margin-left: 36px !important; }

.mln {
  margin-left: 0 !important; }

.pan {
  padding: 0 !important; }

.ptxs {
  padding-top: 3px !important; }

.pts {
  padding-top: 12px !important; }

.ptm {
  padding-top: 24px !important; }

.ptl {
  padding-top: 36px !important; }

.ptxl {
  padding-top: 48px !important; }

.ptn {
  padding-top: 0 !important; }

.prxs {
  padding-right: 3px !important; }

.prs {
  padding-right: 12px !important; }

.prm {
  padding-right: 24px !important; }

.prl {
  padding-right: 36px !important; }

.prn {
  padding-right: 0 !important; }

.pbxs {
  padding-bottom: 3px !important; }

.pbs {
  padding-bottom: 12px !important; }

.pbm {
  padding-bottom: 24px !important; }

.pbl {
  padding-bottom: 36px !important; }

.pbxl {
  padding-bottom: 48px !important; }

.pbn {
  padding-bottom: 0 !important; }

.plxs {
  padding-left: 3px !important; }

.pls {
  padding-left: 12px !important; }

.plm {
  padding-left: 24px !important; }

.pll {
  padding-left: 36px !important; }

.pln {
  padding-left: 0 !important; }

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

body {
  padding: 80px 0 24px 0;
  background-color: #e0e0e0; }

.column {
  background-color: #f5f5f5;
  margin-top: 12px;
  padding: 18px; }

.panel {
  margin-bottom: 12px; }

.panel {
  color: #616161;
  background-color: #fafafa; }
  .panel.active, .panel:hover {
    cursor: pointer;
    color: #212121;
    background-color: #fff; }
  .panel .controls {
    float: right;
    margin-bottom: -6px;
    color: #c0c0c0; }
  .panel:hover .controls {
    color: #000; }

.navbar-header {
  width: 100%; }

.navbar-brand {
  margin: 0;
  width: 100%;
  text-align: center; }

i {
  -webkit-transition: color 200ms cubic-bezier(0.1, 0.25, 0.1, 1);
          transition: color 200ms cubic-bezier(0.1, 0.25, 0.1, 1); }

.panel {
  -webkit-transition: all 250ms cubic-bezier(0.1, 0.25, 0.1, 1);
          transition: all 250ms cubic-bezier(0.1, 0.25, 0.1, 1); }

.phases .panel-body {
  border-left: 4px solid #ffba01; }

.steps .panel-body {
  border-left: 4px solid #00a3ff; }

.modules .panel-body {
  border-left: 4px solid #38ae6c; }

.steps .panel, .modules .panel {
  display: none; }

.active ~ .steps .step > .panel {
  display: block; }

.active ~ .steps .active ~ .modules > .panel {
  display: block; }

.steps {
  padding-left: 28px; }

.modules {
  padding-left: 28px; }

.active ~ .steps > .step:last-child {
  margin-bottom: 20px; }

.gu-mirror {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important; }

.dropzone {
  border: 3px dashed #666;
  background-color: #f5f5f5 !important;
  height: 25%;
  min-height: 60px;
  opacity: 0;
  text-align: center;
  font-size: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 500ms cubic-bezier(0.1, 0.25, 0.1, 1);
          transition: all 500ms cubic-bezier(0.1, 0.25, 0.1, 1); }
  .dropzone.dropzone-delete {
    border-color: #f44336;
    background-color: #FDEEEE !important;
    color: #f44336; }
    .dropzone.dropzone-delete:hover {
      background-color: #FDEEEE !important; }

.dropzone > section, .dropzone > article {
  -webkit-transition: opacity 750ms cubic-bezier(0.1, 0.25, 0.1, 1);
          transition: opacity 750ms cubic-bezier(0.1, 0.25, 0.1, 1);
  opacity: 0; }
  .dropzone > section.gu-transit, .dropzone > article.gu-transit {
    opacity: .2;
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 14px; }

.dropzone {
  z-index: -100; }

.gu-unselectable .dropzone {
  opacity: .9;
  z-index: 10000; }

/*# sourceMappingURL=style.css.map */
