$xs: 3px;
$s:  12px;
$m:  24px;
$l:  36px;
$xl: 48px;

// --------------- Spacers -------------------- //
  
  // ----- Margin Spacers ----- //
    .mtxs {margin-top: $xs !important}
    .mts  {margin-top: $s !important}
    .mtm  {margin-top: $m !important}
    .mtl  {margin-top: $l !important}
    .mtxl {margin-top: $xl !important}
    .mtn  {margin-top:  0 !important}

    .mrxs {margin-right: $xs !important}
    .mrs  {margin-right: $s !important}
    .mrm  {margin-right: $m !important}
    .mrl  {margin-right: $l !important}
    .mrn  {margin-right:  0 !important}

    .mbxs {margin-bottom: $xs !important}
    .mbs  {margin-bottom: $s !important}
    .mbm  {margin-bottom: $m !important}
    .mbl  {margin-bottom: $l !important}
    .mbxl {margin-bottom: $xl !important}
    .mbn  {margin-bottom:  0 !important}

    .mlxs {margin-left: $xs !important}
    .mls  {margin-left: $s !important}
    .mlm  {margin-left: $m !important}
    .mll  {margin-left: $l !important}
    .mln  {margin-left:  0 !important}


  // ----- Padding Spacers ----- //

    .pan {padding: 0 !important}

    .ptxs {padding-top:  $xs !important}
    .pts  {padding-top:  $s !important}
    .ptm  {padding-top:  $m !important}
    .ptl  {padding-top:  $l !important}
    .ptxl {padding-top:  $xl !important}
    .ptn  {padding-top:   0 !important}

    .prxs {padding-right:  $xs !important}
    .prs  {padding-right:  $s !important}
    .prm  {padding-right:  $m !important}
    .prl  {padding-right:  $l !important}
    .prn  {padding-right:   0 !important}

    .pbxs {padding-bottom:  $xs !important}
    .pbs  {padding-bottom:  $s !important}
    .pbm  {padding-bottom:  $m !important}
    .pbl  {padding-bottom:  $l !important}
    .pbxl {padding-bottom:  $xl !important}
    .pbn  {padding-bottom:   0 !important}

    .plxs {padding-left:  $xs !important}
    .pls  {padding-left:  $s !important}
    .plm  {padding-left:  $m !important}
    .pll  {padding-left:  $l !important}
    .pln  {padding-left:   0 !important}

