$aqua:  rgba(0,204,204,1);
$blue:  rgba(0,163,255,1);
$gold:  rgba(255,186,1,1);
$green: rgba(102,204,0,1);
$moss:  rgba(56,174,108,1);
$red:   rgba(226,54,0,1);

$indentWidth: 28px;

@import 'spacers';

* { // thou shalt not highlight
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fa.fa-grip-large:before {
  content: "\f142 \f142 \f142 \a \f142 \f142 \f142";
  white-space: pre;
}

.active { // mimic .shadow-z-2
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

body {
  padding: 80px 0 24px 0;
  background-color: #e0e0e0;
}

.column {
  background-color: #f5f5f5;
  margin-top: 12px;
  padding: 18px;
}

.panel {
  margin-bottom: 12px;
}

.panel {
  color: #616161;
  background-color: #fafafa;
  &.active, &:hover {
    cursor: pointer;
    color: #212121;
    background-color: #fff;
  }
  .controls {
    float: right;
    margin-bottom: -6px;
    color: #c0c0c0;
  }
  &:hover .controls {
    color: #000;
  }
}


// Navbar
.navbar-header {
  width: 100%;
}

.navbar-brand {
  margin: 0;
  width: 100%;
  text-align: center;
}



// 'Meaningful' Transtions
  i { transition: color 200ms cubic-bezier(.1,.25,.1,1); }
  .panel { transition: all 250ms cubic-bezier(.1,.25,.1,1); }

// Panel tagging with colored border
  .phases .panel-body { border-left: 4px solid $gold; }
  .steps .panel-body { border-left: 4px solid $blue; }
  .modules .panel-body { border-left: 4px solid $moss; }


.steps, .modules {
  .panel {
    display: none;
  }
}

.active ~ .steps .step > .panel {
  display: block;
}

.active ~ .steps .active ~ .modules > .panel {
  display: block;
}


// Nested indenting
.steps { padding-left: $indentWidth; }
.modules { padding-left: $indentWidth; }

// inter-phase spacing
.active ~ .steps > .step:last-child { margin-bottom: 20px; }


// for Dragula
.gu-mirror {
  cursor: grabbing !important;
}

  // Dragula Dropzones

  .dropzone {
    border: 3px dashed #666;
    background-color: #f5f5f5 !important;
    height: 25%;
    min-height: 60px;
    opacity: 0;
    text-align:center;
    font-size:24px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: all 500ms cubic-bezier(.1,.25,.1,1);

    &.dropzone-delete {
      border-color: #f44336;
      background-color: #FDEEEE !important;
      color: #f44336;

      &:hover {
        background-color: #FDEEEE !important;
      }
    }


  }

  .dropzone > section, .dropzone > article {
    transition: opacity 750ms cubic-bezier(.1,.25,.1,1);
    opacity: 0;

    &.gu-transit {
      opacity: .2;
      position: absolute;
      left: 50%;
      top: 55%;
      transform: translateX(-50%);
      font-size: 14px;
    }
}

  .dropzone { z-index: -100; }
  .gu-unselectable .dropzone { opacity: .9; z-index: 10000; }
