<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DnD Roadmap Editor Prototype v2</title>
    <link rel='stylesheet prefetch' href='bower_components/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='bower_components/bootstrap-material-design/dist/css/material.min.css'>
    <link rel="stylesheet prefetch" href='bower_components/bootstrap-material-design/dist/css/ripples.min.css'>
    <link rel='stylesheet prefetch' href='bower_components/font-awesome/css/font-awesome.min.css'>
    <link rel="stylesheet prefetch" href='bower_components/dragula.js/dist/dragula.min.css'>
    <link rel="stylesheet prefetch" href='css/style.css'>
</head>

<body ng-app="roadmapBuilder" ng-controller="interfaceController">
    <navbar></navbar>
    <main class="container">
        <div class="btn-group btn-group-justified column pan">
            <a href="javascript:void(0)" class="btn btn-default">New Roadmap</a>

            <div class="btn-group">
                <a href="#" class="btn btn-default dropdown-toggle" data-target="#" data-toggle="dropdown">Change Roadmap
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Dropdown link</a></li>
                    <li><a href="javascript:void(0)">Dropdown link</a></li>
                    <li><a href="javascript:void(0)">Dropdown link</a></li>
                </ul>
            </div>
            <a href="javascript:void(0)" class="btn btn-default">Save Changes</a>
        </div>

        <div class=" shadow-z-1 column">
            <header>
                <h1 class="text-center">Roadmap 123</h1>

                <p class="lead text-center text-muted">This roadmap is all about doing more with less.</p>

                <div class="pull-right togglebutton">
                    <label><input type="checkbox" id="auto-close" checked> Auto-close Sections</label></div>
                <div class="clearfix"></div>
            </header>

            <hr />
            <p class="text-right"><a href="javascript:void(0)" ng-click="toggleAll(0)">Collapse All</a> |
                <a href="javascript:void(0);" ng-click="toggleAll(1)">Expand All</a></p>
            <section class="phases">
                <section class="phase" ng-repeat="phase in data.phases" ng-init="phaseId=$index+1+'.'">
                    <parent-panel ng-click="click('phase',$event)">{{ phaseId }} {{ phase.name }}</parent-panel>

                    <div class="steps">
                        <section class="step" ng-repeat="step in phase.steps" ng-init="stepId=$index+1">
                            <parent-panel ng-click="click('step',$event)">{{ phaseId + stepId }} {{ step.name }}
                            </parent-panel>

                            <section class="modules">
                                <leaf-panel ng-repeat="module in step.modules" ng-init="moduleId='.'+($index+1)">{{ phaseId + stepId + moduleId }} {{ module.name }}
                                </leaf-panel>
                            </section>
                        </section>
                    </div>
                </section>
            </section>
        </div>

        <p class="text-center">
            <button class="btn btn-primary btn-raised" data-ripple-color="#F0F0F0">Add New Phase</button>
        </p>

        <removal-dropzone></removal-dropzone>

        <!-- <undo-notice>[ELEMENT] was successfully removed from your roadmap.</undo-notice> TODO: trigger this manually every time a roadmap element is deleted. -->
    </main>
</body>

<script src='bower_components/jquery/dist/jquery.min.js'></script>
<script src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script src='bower_components/bootstrap-material-design/dist/js/material.min.js'></script>
<script src='bower_components/angular/angular.min.js'></script>
<script src="bower_components/dragula.js/dist/dragula.min.js"></script>
<script src="js/roadmap-editor.js"></script>
</html>
